<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <form   id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>

    <script>
        // document.getElementById('loginForm').addEventListener('submit', async function(event) {
        //     event.preventDefault();
        //     const username = document.getElementById('username').value;
        //     const password = document.getElementById('password').value;

        //     const response = await fetch('http://your/auth/token', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/x-www-form-urlencoded'
        //         },
        //         body: `grant_type=password&username=${username}&password=${password}`
        //     });

        //     const data = await response.json();
        //     console.log(data);
        // });
    </script>
</body>
</html>
