<div class="page-container">
    <link rel="stylesheet"  href="static/main.css">

    <header class="header">
      <h1>Employee Page</h1>
      <nav class="header-nav">
        <ul>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="sidebar">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Tasks</a></li>
        <li><a href="#">Timesheets</a></li>
      </ul>
    </div>
    <main class="main-content">
      <h2>Welcome, Employee!</h2>
      <p>This is the employee page content.</p>
    </main>
  </div>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html
#add css path 


<script src="js/main.js"></script>
#add js path
